exportPattern('^[[:alpha:]]+')
S3method(summary,SpatFD)
S3method(print,OptimalSpatialDesign)
S3method(summary,KS_pred)
S3method(summary,COKS_pred)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "legend", "par")
