exportPattern("^[^\\.]+")
S3method(summary,SpatFD)
S3method(print,OptimalSpatialDesign)
S3method(summary,KS_pred)
S3method(summary,COKS_pred)
S3method(summary,gfdata)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "legend", "par")
importFrom("stats", "time")
importFrom("utils", "capture.output")
importFrom("methods", "as", "is", "slotNames")
importFrom("stats", "D", "as.formula", "delete.response", "fft","model.extract", "model.frame", "model.matrix", "na.fail","rnorm", "terms")
export(classification)
export(COK_crossval_loo)
export(COKS_scores_lambdas)
export(create_mcov)
export(CrossSpatFD)
export(crossval_loo)
export(FD_optimal_design)
export(generate_basis)
export(gfd_clasif_data)
export(gfd_variog_geoR)
export(gfdata)
export(ggmap_KS)
export(ggplot_KS)
export(KS_scores_lambdas)
export(mclass_data)
export(mean_mean)
export(recons_fd)
export(scores)
export(sim_functional_process)
export(SpatFD)